# Code owners for WorldSignal.
# These owners are automatically requested for review on matching pull requests.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @jigardafda
