# EditorConfig: https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Go uses tabs
[*.go]
indent_style = tab

# Makefiles require tabs
[Makefile]
indent_style = tab

[*.{mk,mak}]
indent_style = tab

# Markdown preserves trailing whitespace (used for line breaks)
[*.md]
trim_trailing_whitespace = false

# Go module files use tabs
[go.mod]
indent_style = tab
